name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
      id: go
    - name: Test
      run: go test -coverprofile=cover.out ./...
  
  discord_notify:
    name: Notify
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
    - name: print variables
      env: 
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Discord notification
      uses: Ilshidur/action-discord@master
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      with:
        args: >
          Pull Request [#{{EVENT_PAYLOAD.number}}]({{EVENT_PAYLOAD.pull_request._links.html.href}}) 
          submitted by [{{EVENT_PAYLOAD.sender.login}}]({{EVENT_PAYLOAD.sender.html_url}}) has been assigned to 
          [{{EVENT_PAYLOAD.pull_request.assignees[0].login}}]({{EVENT_PAYLOAD.pull_request.assignees[0].html_url}}) -
          *{{EVENT_PAYLOAD.pull_request.title}}*

